{% extends 'crm/base.html' %}
{% load static %}

{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:company_list' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Company Detail</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>会社の詳細</h1>
        <ul>
            <li>名称: {{ object.name }}</li>
            <li>備考: {{ object.remark|default:'-' }}</li>
            <li>カテゴリー: {{ object.category }}</li>
        </ul>
        <form method="GET" class="registration" action="{% url 'crm:company_list' %}">
            {% csrf_token %}
            <button type="submit">戻る</button>
        </form>
    </div>
{% endblock %}
