{% extends "crm/base.html" %}
{% load static %}
{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <button type="button" class="btn btn-outline-primary mb-3">＋会社の追加</button>
    {% for a_company in object_list %}
        {% if not forloop.counter|divisibleby:"2" %}
            <div class="row mb-4">
        {% endif %}
        <div class="col-sm-6">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="38%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">{{ a_company.name }}</h5>
                    <p class="card-text">備考: {{ a_company.remark|default:"-" }}</p>
                    <a href="{% url 'crm:land_list' a_company.pk %}" class="btn btn-outline-primary">圃場リスト</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"2" %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
