{% extends "crm/base.html" %}
{% load static %}

{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:company_list' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'crm:land_list' company_id %}">Land List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Land Create</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>圃場の作成</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="">送信</button>
        </form>
    </div>
{% endblock %}

