{% extends "crm/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crm/css/land/list.css' %}">
{% endblock %}
{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Land list</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <button type="button" class="btn btn-outline-primary mb-3">＋圃場の追加</button>
    {% for a_land in object_list %}
        {% if not forloop.counter|divisibleby:"2" %}
            <div class="row mb-4">
        {% endif %}
        <div class="col-sm-6">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="38%" y="50%">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">{{ a_land.name }}</h5>
                    <ul class="card-text">
                        <li>都道府県: {{ a_land.prefecture|default:"-" }}</li>
                        <li>住所: {{ a_land.location|default:"-" }}</li>
                        <li>緯度経度: {{ a_land.latlon|default:"-" }}</li>
                        <li>栽培方法: {{ a_land.class_crop|default:"-" }}</li>
                        <li>作物: {{ a_land.crop.name|default:"-" }}</li>
                        <li>備考: {{ a_land.remark|default:"-" }}</li>
                    </ul>
                    <a href="{% url 'crm:land_report_chemical' company_id a_land.pk %}" class="btn btn-outline-primary{% if a_land.landscorechemical_set.all|length_is:0 %} disabled{% endif %}">化学レポート</a>
                    <a href="#" class="btn btn-outline-primary disabled">硬度レポート</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"2" %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
